

.formContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
 width: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.heading{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.input{
    padding: 5px 30px;
    border-radius: 10px;
    outline: none;
}
.input::placeholder{
    font-weight: bold;
}
.button{
    padding: 6px 20px ;
    width: 50%;
    border-radius: 6px;
    text-decoration: none;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    background-color:#0abde3;
    font-weight: bolder;
    border: none;
    outline: none;

}
.button:hover{
    border: 1px solid black;
    background-color: transparent;
}
.label{
    font-weight: bolder;

}